{% extends "blog/base.html" %}
{% block content %}
<h1 style="color:white;">About Page</h1>
<p><h2 style="color:white;">Topic: Web based blogging platform</h2>
<h2 style="color: white;">Framework: Django</h2>
<br>
<h2 style="color:white;"> Team Members (Group 2 - Team 6):<br></h2>
<br>
<ul>
    <l1><h4 style="color:white;">Chinmay Parekh (IMT2020069)</h4></l1>
    <l1><h4 style="color:white;">Shridhar Sharma (IMT2020065)</h4></l1>
    <l1><h4 style="color:white;">Rishi Vakharia (IMT2020067)</h4></l1>
    <l1><h4 style="color:white;">Hasanabbas Momin (IMT2020066)</h4></l1>
</ul>
<br>
<h2 style="color:white;">Contribution:</h2>
<br>
<ul>
    <l1><h4 style="color:white;">Chinmay Parekh:  &nbsp;Created home page,about page,profile and all users</h4></l1>
    <l1><h4 style="color:white;">Shridhar Sharma:  &nbsp;Front end part and created comment system</h4></l1>
    <l1><h4 style="color:white;">Rishi Vakharia:  &nbsp;Created home page,all users and user registration forms </h4></l1>
    <l1><h4 style="color:white;">Hasanabbas Momin:  &nbsp;Created the add,update and delete posts </h4></l1>
</ul>
<br>
<h2 style="color:white;">References: </h2>
<br>
<h4><a style="background: rgb(16,22,32,0.8);" class="btn btn-outline-light"
       href="https://docs.djangoproject.com/en/3.1/">The Official Django Documentation</a></h4>
<h4><a style="background: rgb(16,22,32,0.8);" class="btn btn-outline-light"
       href="https://getbootstrap.com/">Bootstrap</a></h4>
<h4><a style="background: rgb(16,22,32,0.8);" class="btn btn-outline-light" href="https://youtu.be/F5mRW0jo-U4">Python
    Django Web Framework - Full Course for Beginners - Freecodecamp.org</a></h4>
<h4><a style="background: rgb(16,22,32,0.8);" class="btn btn-outline-light" href="https://w3schools.com/">w3schools</a>
</h4>
<h4><a style="background: rgb(16,22,32,0.8);" class="btn btn-outline-light" href="https://unsplash.com/">Unsplash</a>
</h4>


</p>
{% endblock content %}

