{% extends "blog/base.html" %}
    {% block content %}
        <h1 style="color:white;">About Page</h1>
        <p><h2 style="color:white;">Topic: Web based blogging platform</h2>
            <br>
            <h4 style="color:white;"> Team Members:Chinmay Parekh<br></h4>
            <h4 style="color:white;">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;Shridhar Sharma<br></h4>
            <h4 style="color:white;">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;Rishi Vakharia<br></h4>
            <h4 style="color:white;">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;Hasannabas Momin<br></h4>
        </p>
    {% endblock content %}

