{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
    {% block content %}
        <div style="color:white;"class="content-selection">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Blog Post</legend>
                    {{ form|crispy}}
                </fieldset>
                <div class="form-group">
                    <hr>
                    <button  style="background:rgb(25, 21, 31, 0.8);" class="btn btn-outline-danger" type="submit">Post</button>
                </div>
            </form>   
        </div>
    {% endblock content %}
