{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div style="background: rgb(16,22,32,0.8);" class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend style="color:rgb(95, 208, 223);"class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <br><button class="btn btn-outline-danger" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small style="color:#3d4247;"class="text-muted ">Need An Account? <a style="color:#c7c7c7;"class="ml-2" href="{% url 'register' %}">Sign Up Now</a></small>


        </div>
    </div>
{% endblock content %}
